<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>Id</th>
            <th>Descricao</th>
            <th>Tipo</th>
        </tr>
        <tr th:each="contato : ${contatos}">
            <td th:text="${contato.id}"></td>
            <td th:text="${contato.descricao}"></td>
            <td th:text="${contato.tipo}"></td>
        </tr>
    </table>
    
</body>
</html>